*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  font-size: 3rem;
  margin: 2rem;
}

.books {
  margin: 0 2rem;
}

.each-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.5rem;
  padding: 0.25rem 1rem;
  height: 2.5rem;
  background-color: lightgray;
}

.remove-btn {
  max-width: 6rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 5rem 0;
  font-size: 2.5rem;
}

.add-book {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

input {
  font-size: 1.2rem;
  width: 30rem;
  padding: 0.5rem;
  margin: 0 auto;
}

input::placeholder {
  font-size: 1.2rem;
  padding: 1rem;
}

.add-btn-div {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  justify-content: right;
}

.add-btn {
  max-width: 10rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
}

.add-btn:hover {
  box-shadow: 2px 2px black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border: 2px solid black;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
}

.line {
  height: 30px;
  width: 2px;
  background-color: black;
}

.hidden {
  display: none;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

.contact p {
  margin: 3rem auto;
  font-size: 1.3rem;
}

.contact-list {
  max-width: 50%;
  min-width: 25%;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.4rem;
}

.contact-list li {
  margin-left: 1rem;
}

#footer {
  position: fixed;
  left: 2%;
  bottom: 5%;
  width: 95%;
  margin: 0 auto;
  border: 3px solid black;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.date {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  margin-right: 1rem;
}

.white {
  background-color: white;
}
